:global(html) {
  height: 100%;
  font-size: 100%;
  background: #fff;
  min-height: 100%;
  overflow-y: scroll;
}

:global(body) {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  color: #383838;
}
