.container {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  transition: all .25s ease;
  transition-property: transform,box-shadow,-webkit-transform;
}

.container:hover {
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.12);
  transform: translateY(-.5rem);
  z-index: 2;
}

.link {
  text-decoration: none;
  color: #383838;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.excerpt {
  font-weight: 400;
  color: #616161;
}
