.container {
  width: 80%;
  padding-left: 10px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  border-bottom: 0.1px solid #bdc3c7;
}

.post-item-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

.post-item-excerpt {
  margin-bottom: 10px;
}

.post-item-link {
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #2ecc71;
}
